.task, .inactivetask, .activetask, .donetask {
   display: block;
   /* border-style:solid; border-width:1px; */
}
.task *,.inactivetask *,.activetask *,.donetask * {
   font-size: xx-large;
}
.pom {
   margin-bottom: -15px;
}
.controls {
   display:inline;
}
.controls * {
   visibility:hidden;
}
.task:hover .controls * {
   visibility:visible;
}
.task:hover .controls .rest {
   visibility:hidden;
}
.activetask .controls * {
   visibility:visible;
}
.activetask .controls button {
   visibility:hidden;
   display:none;
}
.donetask .controls * {
   visibility:visible;
}
.donetask .controls .work {
   display:none;
}
.donetask .controls .rest {
   display:inline;
}
