/** Changing drag handle's mouse cursor during hovering and dragging */
.drag-handle {
  cursor: grab;
}
.smooth-dnd-no-user-select .drag-handle {
  cursor: grabbing;
}

/** Moving drag handles to the left of the main list */
.task-list li {
  margin-left: -72px;
}
.smooth-dnd-container.vertical > .smooth-dnd-draggable-wrapper {
  overflow: visible;
}

#start-working-btn {
  margin-left: 1em;
}

#task-remaining-time {
  margin-left: 0.6em;
}
